<!-- LANDING PAGE BEFORE LOG IN -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Dosis:500,600|Asap|Josefin+Sans:400,700,600,600italic' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- NAV BAR -->
  <%- include('partials/header-footer-nav/navigation_bar') %>
  <!-- Sidebar -->


  <%- include('partials/modals/login') %>
  <%- include('partials/modals/sign-up') %>

  <!-- GOOGLE MAP -->
  <%- include('partials/maps/map') %>
  <%- /* include('partials/sidebar/sidebar') */ %>
  <!-- FOOTER / JS -->
  <%- include('partials/header-footer-nav/footer-on') %>

</body>

</html>
