 <head>
    <link rel="stylesheet" type="text/css" href="/public/css/restaurant_show.css">
</head>

 <div id = "restaurantShow">
     <div id="showName"><%= restaurant.name %>
     <img id= "showImage" src="http://www-tc.pbs.org/food/files/2012/09/Sushi-5-1.jpg"></div>
     <div id = "description"></div>
     <div id="times">Happy Hour Times:
       <li>Monday: <%= changeTime(restaurant.hours.monday.time[0].startTime) %> - <%= changeTime(restaurant.hours.monday.time[0].endTime) %></li>
       <li>Tuesday: <%= changeTime(restaurant.hours.tuesday.time[0].startTime) %> - <%= changeTime(restaurant.hours.tuesday.time[0].endTime) %></li>
       <li>Wednesday: <%= changeTime(restaurant.hours.wednesday.time[0].startTime) %> - <%= changeTime(restaurant.hours.wednesday.time[0].endTime) %></li>
       <li>Thursday: <%= changeTime(restaurant.hours.thursday.time[0].startTime) %> - <%= changeTime(restaurant.hours.thursday.time[0].endTime) %></li>
       <li>Friday: <%= changeTime(restaurant.hours.friday.time[0].startTime) %> - <%= changeTime(restaurant.hours.friday.time[0].endTime) %></li>
       <li>Saturday: <%= changeTime(restaurant.hours.saturday.time[0].startTime) %> - <%= changeTime(restaurant.hours.saturday.time[0].endTime) %></li>
       <li>Sunday: <%= changeTime(restaurant.hours.sunday.time[0].startTime) %> - <%= changeTime(restaurant.hours.sunday.time[0].endTime) %></li>
     </div>

    <div id="showInfo">Drinks: <%= restaurant.drinks %>
     <div>Food: <%= restaurant.food %></div>
     <div>Contact:
       <li>Phone: <%= restaurant.contact.phone%></li>
       <li>Address: <%= restaurant.contact.address %></li>
       <li>Website: <%= restaurant.contact.website %></li>
     </div>
    </div>
 </div>
