<h1>All Restaurants</h1>

<% restaurants.forEach(function (restaurant){ %>
  <% var day = restaurant.hours %>
  <% var info = restaurant.contact %>

    <strong><%= restaurant.name %></strong>
    <div><strong>Hours</strong>
      <li>Monday: <%= day.monday.time[0].startTime %> - <%= day.monday.time[0].endTime %></li>
      <li>Tuesday: <%= day.tuesday.time[0].startTime %> - <%= day.tuesday.time[0].endTime %></li>
      <li>Wednesday: <%= day.wednesday.time[0].startTime %> - <%= day.wednesday.time[0].endTime %></li>
      <li>Thursday: <%= day.thursday.time[0].startTime %> - <%= day.thursday.time[0].endTime %></li>
      <li>Friday: <%= day.friday.time[0].startTime %> - <%= day.friday.time[0].endTime %></li>

    </div>

    <div>Drinks: <%= restaurant.drinks %></div>
    <div>Food: <%= restaurant.food %></div>
    <div>Contact:
      <li>Phone: <%= info.phone%></li>
      <li>Address: <%= info.address %></li>
      <li>Website: <a href="<%= info.website %>"><%= info.website %></a></li>
      <li>Yelp: <a href="<%= info.yelpUrl %>"><%= info.yelpUrl %></a></li>
    </div>

<% }) %>

