<!-- LANDING PAGE BEFORE LOG IN -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>After Hours</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Dosis:500,600|Asap|Josefin+Sans:400,700,600,600italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- NAV BAR -->
  <%- include('../partials/header-footer-nav/navigation_bar') %>
  <%- include('../partials/header-footer-nav/search_bar') %>
  <!-- Sidebar -->
  <%- include('../partials/modals/new_happy_hour') %>
  <%- include('../partials/modals/edit_profile') %>
  <%- include('../partials/modals/login') %>
  <%- include('../partials/modals/sign-up') %>

<div id = "main">
<!-- Conditionals for hiding navigation, restaurant view list and settings if user is not logged in -->

  <% if(user != undefined){ %>
            <% if(user.fb != '{}'){ %>
            <%- include('../partials/sidebar/sidebar') %>
            <%- include('../partials/maps/map') %>
            <%- include('../partials/maps/my-restaurant-list') %>
            <%- include('../partials/header-footer-nav/footer') %>

          <% } %>
  <% } else if( curr_user ){ %>
          <%- include('../partials/sidebar/sidebar') %>
          <%- include('../partials/maps/map') %>
          <%- include('../partials/maps/my-restaurant-list') %>
           <%- include('../partials/header-footer-nav/footer') %>

  <% } else { %>
          <%- include('../partials/maps/map') %>
         <%- include('../partials/header-footer-nav/footer') %>

  <% } %>
  <!-- FOOTER / JS -->

</div>


</body>

</html>
